{% extends 'lmsapp/base.html' %}

{% block title%}Book{% endblock %}

{% block subheading%}Book Details{% endblock %}

{% block content %}
    <style>
        .bk-sub-head { font-size:1.25rem;font-weight:bold;}
        .book-btn { border-radius: 0px;}
        .div-hide {visibility: hidden;opacity:0;transition:opacity 0.5s}
        .div-show {visibility: visible;opacity:1;}

    </style>
    <script type='text/javascript'>
        function returnbook(){

            $.ajax({

                url : "{% url 'book_return' %}",
                method : 'get',
                success : function(retData,textStatus,jqXHR){
                    window.alert(retData['msg']);
                    window.location.reload();
                },
            });
        }

        function deletebook(){
            if(confirm('This will permanently delete the book. Do you want to continue?')){

                $.ajax({
                    url : "{% url 'book_delete' %}",
                    method : "get",
                    success : function(retData,textStatus,jqXHR){
                        if(retData['deleted'] === 'true'){
                            $("#page-msg").html(retData['ret-msg']).toggleClass('alert-success').show();
                            setTimeout(function(){
                                location.replace("{% url 'book_search' %}")

                            },1500);
                            
                        }
                        else {
                            $("#page-msg").html(retData['ret-msg']).toggleClass('alert-danger').show();
                            setTimeout(function(){
                                $("#page-msg").hide();
                            },1500)
                        }
                    },

                });
            }

        }

        function issuebook(){
            $("#usr-search").toggleClass('div-show');

        }

    </script>

        <!-- <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <p>{{ book.book_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> 
                        <p>{{ book.book_author }}</p> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <p>{{ book.book_edition }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <p>{{ book.book_genre }}</p>
                    </div>
                </div>

        </div>


        {% if perms.lmsapp.can_change %}
            <a href="{% url 'book_edit' %}" class="btn btn-info">Edit Book</a>
            <input type="button" onclick="deletebook()" class="btn btn-danger" value="Delete Book">
            {% if book.book_issued %}
                <p>Book issued to {{ book.book_issuer.username }}</p>
                <input class="btn btn-warning" type='button' onclick='returnbook()' value='Edit Book'>
            {% else %}
            <input class="btn btn-success" type='button' onclick='issuebook()' value='Issue Book'>
                
            {% endif %}
        {% endif %} -->



        


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <img class="card-img book-thumb">
                    </div>
                    <div class="col-md-7">
                        <div class="card-header">
                            <span class="bk-sub-head" style="font-size: 1.375rem;">{{ book.book_name }}</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="bk-sub-head">Author</span><br><span>{{ book.book_author }}</span></li>
                                <li class="list-group-item"><span class="bk-sub-head">Edition</span><br><span>{{ book.book_edition }}</span></li>
                                <li class="list-group-item"><span class="bk-sub-head">Genre</span><br><span>{{ book.book_genre }}</span></li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            {% if book.book_issued %}
                                <small>Book Issued to <a href="{% url 'getuser' book.book_issuer %}">{{ book.book_issuer }}</a></small>
                            {% else %}
                                <small>Book is available</small>
                            {% endif %}
                        </div>
                    </div>
                </div>               
            </div>
            <div class="row">
                {% if perms.lmsapp.can_change %}
                    {% if book.book_issued %}
                        <div class="col"><input class="btn btn-warning btn-block book-btn" type="button" onclick="returnbook()" value="Return Book"></div>
                    {% else %}
                        <div class="col pr-0"><input class="btn btn-success btn-block book-btn" type="button" onclick="issuebook()" value="Issue Book"></div>
                        <div class="col p-0"><a href="{% url 'book_edit' %}" class="btn btn-info btn-block book-btn">Edit Book</a></div>
                        <div class="col pl-0"><input class="btn btn-danger btn-block book-btn" type="button" onclick="deletebook()" value="Delete Book"></div>
                    {% endif %}

                {% endif %}
    
            </div>
        </div>   
        <div class="col-md-6">
                <div id="usr-search" class="div-hide">
                        {% include 'lmsapp/usersearchwidget.html' %}
                </div>

        </div>     
    </div>
    </div>


        
        
{% endblock %}