<html>
<head>
    <title>WIDGET</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        select[selected="selected"] {  background-color: #000;}
    </style>
</head>
<body>

    <!-- <div class='container-fluid m-2'>
        <div class='input-group'>

            <div class='input-group-prepend'>
                <span class='input-group-text'>Search Using</span>
            </div>

            <div class="form-inline mx-2">
                <label for="book_author">Book Author</label>
                <input class="form-control mx-1" type="radio" id="book_author" name="book-search-filter">
                <label for="book_name">Book Name</label>
                <input class="form-control mx-1" type="radio" id="book_name" name="book-search-filter">
            </div>
        </div>
    </div> -->

    
        <!-- <div class="form-inline mx-2">
            <div class='input-group'>
                <div class="input-group-prepend">
                    <input type="text" id="searchquery" class="form-control mx-2"> 
                    <span class="input-group-text">Search Using</span>
                    <label for="book_author">Book Author</label>
                <input class="form-control mx-1" type="radio" id="book_author" name="book-search-filter">
                <label for="book_name">Book Name</label>
                <input class="form-control mx-1" type="radio" id="book_name" name="book-search-filter">
                </div>
                

                
                
                
                <div class="input-group-append">
                    <button type="button" class="btn btn-success" onclick="submitValues()" value="Search">Search</button>
                </div> 
            </div>
        </div> -->

        <div class="form-inline mx-2">
            <div class='input-group'>

                <div class="input-group-prepend">
                    <input type="text" id="searchquery" class="form-control"> 
                    
                
                </div>

                <div class="input-group-append">
                    <span class="input-group-text">Search Using</span>
                    <select class="custom-select">
                        <option value="book_name" >Book Name</option>
                        <option value="book_author" selected="selected">Book Author</option>
                    </select>
                    <button type="button" class="btn btn-success" onclick="submitValues()" value="Search">Search</button>
                </div> 

            </div>
        </div>


    
    



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>