{% extends 'lmsapp/base.html' %}
{% block title %}{{user.username}}'s Homepage{% endblock %}
{% block loc-style %}
<style>
    #bk-flex { display:flex;flex-direction: row;}
</style>
{%endblock %}
<div class="container">


<div class="row">
    <div class="col-*-6">
            {% block subheading %}{{user.username}}{% endblock %}
    </div>
    <div class="col-*-6">
        Hell
    </div>
    
</div>

<div class="row">
    <div class="col-*-6">
            {% block content %}

            {% if user.book_set.all|length == 0 %} 
                <p>No Books Issued</p>
            {%  else %}
                 <!-- <table class="table">
                    <thead>
                        <tr>
                            <td>Book Name</td>
                        </tr>
                    </thead>
                    <tbody>
                            
                 <div class="container">
                        {% for book in user.book_set.all %}
                        <tr>
                            <td><a href="{% url 'getbook' book.book_id %}">{{ book.book_name }}</a></td>
                        </tr>
                    {% endfor %}

                </div>
                 
                    </tbody>
                </table>  -->
                <div id="bk-flex">


                
                {% for book in user.book_set.all %}

                    <div class="col-md-2 m-1">
                        <div class="card">
                            
                            <img src="book.jpg" class="card-img-top img-thumbnail" style="max-height:200px;width:auto;">
                        
                            <div class="card-body p-1">
                                <h5 class="card-title"><bold>{{ book.book_name }}</bold></h5>
                                <small class="card-text">Author - {{ book.book_author }}</small><br>
                                <small class="card-text">Genre - {{ book.book_genre }}</small><br>
                                <small class="card-text">Edition - {{ book.book_edition }}</small>
                            </div>
                
                            
                                
                        
                        </div>
                    </div>

                {% endfor %}
                </div >
                
            {% endif %}
        {%endblock%}
    </div>
    <div class="col-*-6"></div>
</div>

</div>
